################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
obj/
/.vs/OpenMcdf/v14
# all bin directories anywhere in the repo
bin/
TestResults/
/sources/Test/OpenMcdf.Test/bin/Debug
/sources/Test/OpenMcdf.PerfTest/obj/Debug
/sources/Test/OpenMcdf.PerfTest/bin/Debug
/sources/Test/OpenMcdf.MemTest/bin/Debug
/sources/Test/OpenMcdf.Extensions.Test/obj/Debug
/sources/Test/OpenMcdf.Extensions.Test/bin/Debug
/Unit Test/bin/Debug
/Structured Storage Explorer/bin/Debug
/src/bin/Debug
/sources/Test/OpenMcdf.Test/bin/Release
/sources/Test/OpenMcdf.PerfTest/bin/Release
/sources/Test/OpenMcdf.MemTest/bin/Release
/sources/Test/OpenMcdf.Extensions.Test/obj/Release
/sources/Test/OpenMcdf.Extensions.Test/bin/Release
/sources/OpenMcdf.Extensions/obj/Release
/sources/OpenMcdf/obj/Release
/Performance Test/bin/Debug
/OpenMcdfExtensionsTest/bin/Debug
/OpenMcdf.Extensions/bin/Debug
/Memory Test/bin/Debug
/bin/Release/StructuredStorageXplorer
/bin/Release/OpenMcdf.Extensions
/bin/Release
/sources/Html Help/Help
/.vs
# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
