################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OpenMcdf/v14
/bin/Debug
/sources/OpenMcdf/obj/Debug
/Performance Test/obj/Debug
/OpenMcdfExtensionsTest/obj/Debug
/OpenMcdf.Extensions/obj/Debug
/Memory Test/obj/Debug
/sources/OpenMcdf.Extensions/obj/Debug
/sources/Structured Storage Explorer/obj/Debug
/Unit Test/obj/Debug
/TestResults
/Structured Storage Explorer/obj/Debug
/src/obj/Debug
/sources/Test/OpenMcdf.Test/obj/Debug
/sources/Test/OpenMcdf.Test/bin/Debug
/sources/Test/OpenMcdf.PerfTest/obj/Debug
/sources/Test/OpenMcdf.PerfTest/bin/Debug
/sources/Test/OpenMcdf.MemTest/obj/Debug
/sources/Test/OpenMcdf.MemTest/bin/Debug
/sources/Test/OpenMcdf.Extensions.Test/obj/Debug
/sources/Test/OpenMcdf.Extensions.Test/bin/Debug
