body
{
    /*overflow:hidden;*/
    position: relative;
    background-color: white;
    /*font-family: Segoe UI;*/
    font-family: "wf_SegoeUILight","wf_SegoeUI","Segoe UI Light","Segoe WP Light","Segoe UI","Segoe","Segoe WP","Tahoma","Verdana","Arial","sans-serif";
    /*font-weight: lighter;*/
    font-size:14pt;
    text-align: center;
    margin: 0px;
    margin-top: 10px;
    padding: 0px;
    display: block;
}

li
{
	margin-top: 3px;
}

div#container
{
    margin-top: 0px;
    margin-left: auto;
    margin-bottom: 14px;
    margin-right: auto;
    width: 760px;
    text-align: center;
}

div#header
{
    width: 780px;
    height: 120px;
}

div#main
{
    width: 780px; /*border-color: green;     border-width: 1px;     border-style: solid;*/
    text-align: justify;
}

div#footer
{
    width: 780px; /*border-color: green;     border-width: 1px;     border-style: solid;*/
    font-size: 8pt;
    text-align: right;
}

p
{
    margin-bottom: 65px;
}

strong
{
    font-weight: 600;
}

h1
{
    font-size: 16pt;
    font-weight: 600;
}

h2
{
    font-size: 16pt;
    font-weight: bold;
}

#header
{
    width: 780px;
    height: 130px; /*border-color: red;     border-width: 1px;     border-style: solid;*/
}

.modal_popup
{
    
    position: absolute;
    z-index: 10000;
    
}

.popup_block
{
    border:2px solid;
    border-color:Black;
    background-color: White;
    position:relative;
    z-index: 10000;
    padding: 30px;
}

.popup_footer
{
    position: relative;
    background-color: White;
    z-index: 10000;
    padding-top:20px;
    bottom: 0px;
}

.fader
{
    background: black;
	
	background: -webkit-gradient(
    linear,
    right top,
    left bottom,
    color-stop(0.18, rgb(5,3,0)),
    color-stop(0.59, rgb(148,147,143)));
	
	background: -moz-linear-gradient(
    right top,
    rgb(5,3,0) 18%,
    rgb(148,147,143) 59%
	);
	
    position: fixed;
    width: 100%;
    height: 100%;
    filter: alpha(opacity=70);
    opacity: .70; 
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    left: 0;
    top: 0;
    z-index: 10;
}

